$c-primary: #6d400d;
$c-white: #ffffff;
$c-black: #1d1d1d;
$c-grey: #cacaca;
$c-grey-light: #ebebeb;
$c-grey-dark: #8b8b8b;
$c-red: #d30f0f;

$box-shadow-top: 0 -2px 8px rgba(0, 0, 0, 0.15);

$main-toolbar-height: 70px;

$main-map-min-height: 50px;

$page-header-height: 50px;
