@use "@styles/abstracts" as *;

.store-info {
  padding: 15px 20px;
  background-color: $c-warm-cream;
  border: 2px solid $c-bread-brown;
  border-radius: 20px;
  box-shadow: 1px 2px 6px rgba($c-bread-brown, 0.3);

  .store-name {
    font-size: 1.4rem;
    color: $c-jam-red;
  }

  p {
    font-size: 1.2rem;
    margin-top: 8px;
  }

  & + .store-info {
    margin-top: 20px;
  }
}
